!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sharewin
    = csrf_meta_tags
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = react_component('HeaderBar', path: request.url)
    = yield
    = react_component('Footer')
    %p.copyright 
      =t('copyright')
